---
import FisherLogo from "../Photos/FisherTechService.jpeg?url";

const base = '/';
---

<header>
  <div class="site-header__inner">
    <a class="brand" href={base} aria-label="FisherTechService Startseite">
      <img src={FisherLogo} alt="" class="logo">
      <span class="brand__text">
        <strong>FisherTechService</strong>
        <small>Service. Präzision. Leidenschaft.</small>
      </span>
    </a>
  <nav aria-label="Hauptnavigation">
    <ul class="main-nav">
      <li>
        <a href={base}>Home</a>
        <ul class="dropdown">
          <li><a href={`${base}#start`}>Willkommen</a></li>
          <li><a href={`${base}#kennzahlen`}>Kennzahlen</a></li>
          <li><a href={`${base}#social-media`}>Social Media</a></li>
          <li><a href={`${base}#location`}>Karte</a></li>
        </ul>
      </li>


      <li>
        <a href={`${base}about`}>Services</a>
        <ul class="dropdown">
          <li><a href={`${base}about#services`}>Services</a></li>
          <li><a href={`${base}about#kontakt`}>Kontakt</a></li>
        </ul>
      </li>


      <li>
        <a href={`${base}uns`}>Über Uns</a>
        <ul class="dropdown">
          <li><a href={`${base}uns#team`}>Team</a></li>
        </ul>
      </li>


      <li>
        <details class="nav-more">
          <summary>Mehr</summary>
          <ul class="dropdown">
            <li><a href={`${base}projekt`}>Übersicht</a></li>
            <li><a href={`${base}austausch`}>Austausch</a></li>
            <li><a href={`${base}fragen`}>Fragen</a></li>
            <li><a href={`${base}galerie`}>Galerie</a></li>
          </ul>
        </details>
      </li>
    </ul>
  </nav>
    <a class="header-cta" href={`${base}about#kontakt`}>Service anfragen</a>
  </div>
</header>
